body{
	margin: 0;
	padding: 0;
	background:none repeat scroll 0 0 white;
	
	font-family:arial,verdana;
	font-size:12px;
	line-height:18px;
}
#container {
    width: 90%;
    margin: 0 auto;
    
}
#header {
    height: 194px;
   
     border: solid black 1px;
}
#content{
    min-height: 800px;
    border: black 1px solid;
    background: none repeat scroll 0 0 #EEEEEE;
}
#mainleft {
    background: none repeat scroll 0 0 #EEEEEE;
    width: 15%;
    float: left;
    border: 1px solid #CCCCCC;
    border-radius: 7px 7px 7px 7px;
    min-height: 798px;
    clear: both;
}
#maincontent {
    min-height: 798px;
    float: left;
    background: white;
width: 84%;
}
.menu1 {
    background: url("./images/subNavIcon.png") no-repeat scroll 5px 10px transparent;
    border-bottom: 2px solid white;
    color: #000000;
    font-size: 1.2em;
    height: 30px;
    padding-left: 15px;
    padding-top: 6px;
    text-decoration: none;
    list-style: none;ss
}
#top {
       background: url("./images/admin-top.png") repeat scroll 5px 10px transparent;
       height: 35px;
   
     
       padding-left: 25px;
}
.mytable {
    width: 96%;
    margin-top: 30px;
    border: 1px solid #CCCCCC;
    margin-left: 20px; 
  
}
.firstrow td {
      border-bottom: 1px solid #CCCCCC;
        padding-left: 10px;
        border-left: 1px solid #CCCCCC;
}

.delete-photo:hover {
    cursor: pointer;
}