body{
	margin: 0;
	padding: 0;
	background:none repeat scroll 0 0 #0B0404;
	text-align:center;
	font-family:arial,verdana;
	font-size:12px;
	line-height:18px;
}
#container {
    width: 1150px;
    margin: 0 auto;
    
}
#header {
    height: 232px;
  
     border: solid #B0D8F1 0px;
}
#content{
     background: #F1F1E4;
    min-height: 800px;
    margin-top: 15px;
    border: 1px solid #DDDDDD;
      border-radius: 7px 7px 7px 7px;
      padding: 10px 10px 10px 10px;
}
#mainleft {
    padding: 0 0 0 0;
    width: 160px;
    float: left;
   
    min-height: 798px;
    clear: both;
}
#maincontent {
    background: #F1F1E4; 
    min-height: 725px;
    float: left;
    
     width: 745px;
    
     padding: 0px 20px 20px 20px;
       
}
#submaincontent {
      
   height: 230px;
    margin-bottom: 15px;
       border-radius: 7px 7px 7px 7px;
       border: 1px solid #DDDDDD;
       padding-left: 20px;
       padding-top: 10px;
       padding-bottom: 10px;
}
#submaincontent2 {
       border-radius: 7px 7px 7px 7px;
       padding: 10px 10px 10px 10px;
       border: 1px solid #DDDDDD;
}
#menu_header {
    margin-top: 5px;
    	background:#0B0404;
        height: 38px;
        border-radius: 0px 0px 6px 6px;
        
}
.menu1 {
    text-decoration: none;
    list-style: none;
    position: relative;
    float: left;
     padding-left: 15px;
     padding-right: 10px;
     cursor: pointer;
     border-right: 1px solid;
     color: #E3EFFB;
     font-weight: bold;
     font-size: 15px;
}
.menu1 a{
    text-decoration: none;
    color: #E3EFFB;
}
.menu1 :hover {
   color: #F2F8FE; 
}


.cat_menu1 {
    margin-left: 0px;
    color:#E3EFFB ; 
      padding-top: 5px;
      border: 1px solid #DDDDDD;
     
      /*	background:url("images/sub_menu2.png") repeat-x ; */
     
     font-weight: bold;
     font-size: 15px;
     text-decoration: none;
     list-style: none;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.cat_menu1 span {
   /* padding-left: 30%; */
}
.cat_menu {
    margin-bottom: 3px;
      margin-top: 14px;
      margin-left: 0px;
     padding-left: 0px;
    background: none;
}
.cat_menu li  {
     background: url("./images/subNavIcon.png") no-repeat scroll 5px 10px transparent;
    padding-left: 20px;
    padding-top: 4px;
     font-weight: bold;
     font-size: 12px;
     text-decoration: none;
     list-style: none;
      margin-left: 0px;
      border-bottom: 1px solid #EBEBEB;
}
.cat_menu  :hover  {
    background: #DBD7D7 ;
    color: #17779D;
    
}
.cat_menu a {
      text-decoration: none;
     list-style: none;
     color: black;
}
.product {
    height: 250px;
    width: 200px;
    margin-bottom:15px;
    float: left;
    margin-left: 15px;
    border:1px solid #DDDDDD;
    padding: 10px 10px 10px 10px;
     border-radius: 7px 7px 7px 7px;
}

.text {
     padding-left: 50px;
    
}
#tooltip {
  
	position:absolute;
	z-index:9999;
	color:#fff;
	font-size:10px;
	width:180px;
	
}
#tooltip .tipBody {
	background-color:black;
	
}
.page{
    text-decoration: none;
    text-align: center;
  
}
#sub2 {
    text-align: left;
    margin-right: 30px;
    padding-right: 30px;
    float: right;
    padding-top: 20px;
width: 200px;
}
    #galleria{height:500px;width: 400px;
        padding-left: 20px;
    }
#footer {
    	background:url("images/footer.png") repeat-x  #B0D8F1;
        margin-top: 0px; 
        height: 80px;
         border-radius: 7px 7px 7px 7px;
}    